section .list-group a{
    color: white;
    background-color: #009cd7;
    transition: .1s;
}
.menu .navbar .container-fluid .nav-link:hover{
    background-color: rgba(1, 1, 110, 0.993);
}
.menu .navbar .container-fluid #navbarSupportedContent ul li{
    transition: .3s;
}
.menu .navbar .container-fluid #navbarSupportedContent ul li:hover{
    background-color: rgba(1, 1, 110, 0.993);
}
section .row .cards .card{
    overflow: hidden;
}
section .row .cards .card a img{
    transition: .4s;
}
section .row .cards .card a img:hover{
    transform: scale(1.05);
}
section .row .chudehot .tag{
    background-color: #009cd7;
    position: relative;
    transition: .3s;
}
section .row .chudehot .tag:hover{
    transform: scale(1.05);
}
section .row .chudehot .tag::before{
    content: "";
    width: 22px;
    height: 22px;
    top: 5px;
    left: -10px;
    background-color: #009cd7;
    position: absolute;
    transform: rotate(45deg);
}
section .row .thaoluan ol li a{
    text-decoration: none;
    color: gray;
}
section .row .thaoluan ol li{
    margin-bottom: 10px;
}
.bacau{
    color: rgb(104, 7, 110);
}
header .row .mxh a i{
    font-size: 30px;
}
.tieude
{
    color: red;
    border-bottom: 3px solid red;
    font-weight: bold;
   
}
.video-ytb
{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.team{
    padding-left: 500px;
}
