body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 900px;
    border: 2px solid black;
    margin: auto;
}

.container .top {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    color: rgb(219, 214, 214);
    background: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0.300)), url("https://tse2.mm.bing.net/th?id=OIP.F_bocHhigH30hjSmAkydYwHaF7&pid=Api&P=0&w=224&h=180") no-repeat center center;
    background-size: cover;
}

.container .top .avatar img {
    box-shadow: 0 0 10px black;
    width: 170px;
    border-radius: 50%;
    margin-left: 50px;
}

.container .top .info {
    margin-left: 50px;
}
.container .top .info h2{
    color: rgb(219, 214, 214);
}
.container .top .info h1 {
    color: white;
}

.container .top .info p i {
    margin-right: 5px;
}
.bot {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 50px;
}
.bot .left{
    width: 50%;
}
.bot .left h3,h2 {
    color: rgb(23, 221, 23);
}
.bot .right{
    width: 40%;
    padding: 0px 15px;
    border-radius: 6px;
    background-color: rgb(92, 228, 87);
}
.bot .right h3{
     color: rgb(0, 0, 0);
}